.res_button, .save_button{
    margin: 30px 0 0;
    font-size: 13px !important;
    color: white !important;
    background-color: #5F80F5 !important;
}
.save_button{
    width: 100% !important;
}
.res_button{
    width: 100% !important;
}
.center_plan{
    width: 60% !important;
    margin: 5px 20% 30px;
    text-align: center;
}
.center_plan p{
    font-size: 14px !important;
    color: #222222 !important;
    margin: 0;
    padding: 5px;
}
.form100{
    font-size: 11px !important;
    width: 31% !important;
    margin: 0 1%;
    padding: 5px !important;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 70px;
}
.form-signin input{
     margin-bottom: 0.5em;
}
.h3{
    font-size: 1.75rem;
    font-weight: 400!important;
    margin-bottom: 1rem!important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.form-signin .checkbox {
    font-weight: 400;
}
.btn-block {
    display: block;
    width: 100%;
    margin-top: 20px !important;
    background: #5F80F5 !important;
    color: white !important;
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.button100{
    font-size: 12px !important;
    width: 34% !important;
    margin: 0 1%;
    color: white !important;
    background-color: #78CBAC !important;
}
.sidebar{
    background: #E5E8EC !important;
    padding-top: 15%;
    min-height: 100vh;
    height: 100%;
    padding-right: 10px !important;
    position: fixed !important;
}
.navitem{
    color: #222222;
    font-size: 12px !important;
    margin-left: 10px;

}
.navbar-dark{
    background-color: #222222 !important;
}
.navitem:hover{
    text-decoration: none;
    color: #707070;
}
.capture{
    font-weight: lighter;
    font-size: 19px;
}
.feather{
    width: 16px;
    height: 16px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
#added_date{
    width: 150px !important;
    font-size: 14px !important;
    margin-right: 15px;
}
#add_date_button{
    color: #FFFFFF !important;
    background-color: #78CBAC !important;
    width: 150px !important;
    font-size: 14px !important;
    border: 0 !important;
}
.centered{
    margin: 0 !important;
    padding: 30px !important;
    padding-left: 50% !important;
    border-bottom: 1px solid #dee2e6 !important;
}
.form320, .form150, .form200,.gform320 {
     font-size: 10px !important;
     margin: 0 !important;
     margin-right: 15px !important;
     background-color: white !important;
     color: #222222;
 }
.form320 option, .form150 option, .form200 option,.gform320  option, .gform150 option, .gform75 option{
    color: #222222 !important;
}
.default_option{
    color: #C6C8CB;
}
.form320{
    width: 35% !important;
}
.gform320{
    width: 20% !important;
}
.form200{
    width: 22% !important;
 }
.form150{
    width: 16% !important;
}
.gform150{
    width: 12% !important;
}
.gform75{
    width: 10% !important;
    font-size: 10px !important;
    margin: 0 !important;
    margin-right: 5px !important;
    background-color: white !important;
    color: #222222;
}
.main{
    width: 20% !important;
}
.delete_day, .add_day{
    font-size: 12px !important;
    width: 110px !important;
    color: white !important;
    border: 0 !important;
}
.form550{
    width: 44% !important;
    margin: 20px 28% !important;
}
.access{
    margin-top: 30px !important;
    width: 74% !important;
}
.access_day, .add_access{
    font-size: 12px !important;
    width: 120px !important;
    color: white !important;
    position: absolute;
    right: 14%;
}
.delete_day, .access_day{
    background-color: #FF808B !important;
}
.add_day, .add_access{
    background-color: #78CBAC !important;
}
.one_day > div h5{
    font-weight: bolder;
}
.one_day > div p{
    font-weight: bolder;
    font-size: 11px;
}
.one_day > div{
    margin: 13px 0;
    width: 100%;
}
.bootstrap-select {
    padding: 0;
}
.bootstrap-select .dropdown-menu {
    font-size: 10px !important;
}
.bootstrap-select > .btn {
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.body{
    margin-top: 40px;
}
.history{
    margin-top: 10px;
}
.history div span{
    font-size: 10px;
}
.history div p{
    font-size: 11px;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}
.upload {
    background-color: #78CBAC !important;
    color: white !important;
    width: 26% !important;
    margin: 0 37%;
    font-size: 12px !important;
    border: 0 !important;
    padding: 0 !important;
}
.upload-label{
    margin: 10px 0;
    font-size: 12px;
}
.upload-button{
    color: white;
    background-color: #FF808B;
    border-radius: 15px;
    font-size: 10px !important;
    cursor: pointer;
 }
@media(max-width: 867px){
    .access{
        margin: 0 !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Roboto !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
ol,
ul,
dl {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

[hidden] {
    display: none !important;
}

h1, .h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h5, .h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 992px) {

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-ms-input-placeholder, .form-control::placeholder, .form-control:-ms-input-placeholder,
.form-control::-moz-placeholder, .form-control::-webkit-input-placeholder{
    color: #C6C8CB;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 44%;
    height: 200px;
    margin: 20px 28%;
    align-items: center;
    text-align: center;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-top: 17%;
    height: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #C6C8CB;
    background-color: #fff;
    border: 1px solid #C6C8CB;
    border-radius: 0.25rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-item {
    white-space: nowrap !important;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.pt-3.navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    padding-top: 1rem;
    padding-bottom: 30px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

@media (min-width: 768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@media (min-width: 576px) {
    .ml-sm-auto {
        margin-left: auto !important;
    }
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

@media (max-width: 991px) {
    .col-md-3 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 23.666667%;
        max-width: 23.666667%;
    }
}
.nav-button{
    display: none;
    float: right;
    color: white !important;
    font-size: xx-large;
    margin-right: 20px;
    cursor: pointer;
}
@media(max-width: 767px){
    .body{
        margin-top: 75px;
    }
    #main-part{
        margin-left: 23% !important;
    }
    .sidebar{
        display: block;
        width: 100% !important;
        z-index: 1000;
        padding-top: 20%;
    }
    li svg{
        display: none;
    }
    .leads {
        display: -ms-grid !important;
        display: inline-block !important;
    }
    .form-control{
        margin-right: 5px !important;
    }
    .margin-0{
        margin: 10px !important;
        width: 90% !important;
    }
    .nav-link{
        margin-left: 15px;
    }
    .nav-button{
        display: block;
    }
}
