{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col col-2">
            <nav class="navbar bg-light">
                <ul class="navbar-nav">
                    {% for project in projects %}
                        <li class="nav-item">
                            <a class="nav-link btn"
                               href="{{ url_for('config_editor.render_config_editor', project=project) }}">{{ project }}</a>
                        </li>
                    {% endfor %}

                    <li class="nav-item">
                        <form action="{{ url_for('config_editor.save') }}" method="post">
                            <input type="text" name="project">
                            <button type="submit">+</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-7">
            <div id="jsoneditor" style="width: 100%; height: 100%;"></div>
            <br>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button class="btn btn-success" onclick="save()">Save</button>
                </div>

            </div>
        </div>

        <div class="col col-3">
            <nav class="navbar bg-light">
                <ul class="navbar-nav">
                    {% for config in configs %}
                        <li class="nav-item">
                            <button class="nav-link btn"
                                    onclick="show({{ config['config'] }})">{{ config['createdAt'] }}</button>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>


    <script>
        const container = document.getElementById('jsoneditor');
        const options = {
            mode: 'tree',
            modes: ['code', 'form', 'text', 'tree', 'view', 'preview'], // allowed modes
            onError: function (err) {
                alert(err.toString())
            },
            onModeChange: function (newMode, oldMode) {
                console.log('Mode switched from', oldMode, 'to', newMode)
            }
        };
        const editor = new JSONEditor(container, options, {});
        editor.set({});

        function show(json) {
            editor.set(json)
        }

        function save() {
            var xhr = new XMLHttpRequest();
            xhr.addEventListener("load", location.reload());
            xhr.open("POST", "/config_editor/save", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({'config': editor.get(), 'project': window.location.search.substr(9)}));
        }
    </script>

{% endblock %}
