{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="col-md-12">
                <div class="py-5 text-center">
                    <h2>Config Editor 🚕</h2>
                    <p class="lead">Заполните данные для входа</p>
                </div>

                <form action="{{ url_for('login.login_user_') }}" method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="tel" class="form-control" name="login" placeholder="Логин" required
                                   aria-label>
                        </div>
                        <div class="col-md-6 mb-4">
                            <input type="password" class="form-control" name="password" placeholder="Пароль" required
                                   aria-label>
                        </div>
                        <div class="col-md-12 mb-4">
                            {{ recaptcha }}
                        </div>
                        {% if error_message %}
                            <div class="col-md-12 mb-4 text-center">
                                <div class="alert alert-danger">{{ error_message }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary btn-lg w-50" type="submit">Вход</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
